body {
    font-family: simhei;
    background: #FAFAFA;
}

#appBox {
    min-height: 100%;
    padding: 0
}

.doc_ctrlr {
    padding: 0;
    overflow-x: hidden;
}

.elips {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
